* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: crimson;
    
}

header .banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}