* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: crimson;
    
}

header .banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

p {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

main .villans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

#joker{
    text-align: center;
    font-size: 14px
}

#joker img {
    width: 100%;
    height: auto;
}

#riddler{
    text-align: center;
    font-size: 14px;
}
main #riddler img {
    width: 100%;
    height: auto;
}

#choose {
    align-self: center;
    margin: 10px;
    font-size: 16px;
}


main #batman img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}

button {
    cursor: pointer;
}